.wrapper-card-heroes {
	width: 100%;
	height: 30rem;
	background-color: aqua;
	display: flex;
	box-shadow: 0px 0px 15px rgb(131, 131, 131);
}

.card-heroes {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	border: none;
	border-radius: 0px;
}

.person-img {
	display: block;
	width: 50%;
	height: 100%;
	background-image: url(../../img/Photo-1.png);
	background-size: cover;
}
